## Stock Analysis Dashboard

In [1]:
#Initial Imports
import back_end as bk
from IPython.display import HTML, display

## Please Enter a Symbol
This block is used to get the stock symbol from the user and then generates a Pandas Df from the data. It then displays the head so we know it worked succesfully

In [2]:
#symbol = input("Enter a stock symbol: ").upper()
symbol = 'AMZN'
#bk.pass_symbol(symbol)
df_user = bk.make_df(symbol)
#print(bk.get_stocks()) --> this currently works to pass a repetaed list of inputs that the user will get

Enter a stock symbol:  1
Enter a stock symbol:  2
Enter a stock symbol:  no

['1', '2']

## Modifies the DF we made to include new columns
Makes new columns for our analysis. Includes flucuation.

In [3]:
df_user = bk.add_fluctuation(df_user)
display(df_user.head())

               open     high      low    close   volume  fluctuation
date
2018-12-03  1769.46  1778.34  1730.00  1772.36  6840148     2.727437
2018-11-30  1679.50  1696.00  1666.50  1690.17  5761761     1.745387
2018-11-29  1674.99  1689.99  1652.33  1673.57  6613243     2.250279
2018-11-28  1613.92  1681.45  1601.21  1677.75  8458738     4.782596
2018-11-27  1575.99  1597.65  1558.01  1581.42  5783227     2.506608

## Todays Summary 
Provides a summary of todays performance

In [4]:
bk.todays_summary(df_user)

Todays Opening Price:  $1,769.46
Todays Highest Price:  $1,778.34
Todays Lowest Price:  $1,730.00
Todays Closing Price:  $1,772.36
Todays Trading Volume:  6,840,148
Todays Price Fluctuation:  2.73 %

In [5]:
bk.news(symbol)

https://api.iextrading.com/1.0/stock/amzn/article/8598763813167179