## Stock Analysis Dashboard

In [1]:
#Initial Imports
import back_end as bk
from IPython.display import HTML, display

## Please Enter a Symbol
This block is used to get the stock symbol from the user and then generates a Pandas Df from the data. It then displays the head so we know it worked succesfully

In [3]:
#symbol = input("Enter a stock symbol: ").upper()
symbol = 'AMZN'
#bk.pass_symbol(symbol)
df_user = bk.make_df(symbol)
#print(bk.get_stocks()) --> this currently works to pass a repetaed list of inputs that the user will get

DF Created!

## Modifies the DF we made to include new columns
Makes new columns for our analysis. Includes flucuation.

In [4]:
df_user = bk.mod_df(df_user)
display(df_user.head())

,open,high,low,close,volume,fluctuation,oc_var,volatility
date,,,,,,,,
2018-12-04,1756.00,1770.34,1665.00,1668.40,8652423,6.313834,87.60,105.34
2018-12-03,1769.46,1778.34,1730.00,1772.36,6862160,2.727437,-2.90,48.34
2018-11-30,1679.50,1696.00,1666.50,1690.17,5761761,1.745387,-10.67,29.50
2018-11-29,1674.99,1689.99,1652.33,1673.57,6613243,2.250279,1.42,37.66
2018-11-28,1613.92,1681.45,1601.21,1677.75,8458738,4.782596,-63.83,80.24

## Todays Summary 
Provides a summary of todays performance

In [4]:
bk.todays_summary(df_user)

Todays Opening Price:  $1,756.00
Todays Highest Price:  $1,770.34
Todays Lowest Price:  $1,665.00
Todays Closing Price:  $1,668.40
Todays Trading Volume:  8,652,423
Todays Price Fluctuation:  6.31 %

In [5]:
bk.news(symbol)

Todays News

0) The FAANG stocks shed $140 billion in Tuesday's market rout [URL:https://api.iextrading.com/1.0/stock/amzn/article/4851006020829640]
1) Amazon, Stamps.com drop on suggested USPS hike [URL:https://api.iextrading.com/1.0/stock/amzn/article/5110698347227830]
2) Amazon: False Signals [URL:https://api.iextrading.com/1.0/stock/amzn/article/8848183420973403]
3) Salesforce Knocks It Out Of The Park [URL:https://api.iextrading.com/1.0/stock/amzn/article/4632875574004001]
4) Trump's Tariff Threat For Apple [URL:https://api.iextrading.com/1.0/stock/amzn/article/8296842877299757]